In [1]:
import pandas as pd
from datetime import datetime

In [2]:
a = pd.read_csv("Artistas.csv")
en = pd.read_csv("Entradas Cortesia.csv")
ev = pd.read_csv("Eventos.csv")
h = pd.read_csv("Hospedajes y traslados.csv")
p = pd.read_csv("Productoras.csv")
t = pd.read_csv("Tour.csv")

In [3]:
a = a.drop_duplicates()
en = en.drop_duplicates()
ev = ev.drop_duplicates()
h = h.drop_duplicates()
p = p.drop_duplicates()
t = t.drop_duplicates()

In [4]:
a.head()

  Nombre artistico Inicio carrera  Nº contacto
0             Duki     14/02/2019    947967523
1  Backstreet Boys     23/01/1994    933555053
2  Michael Jackson     04/02/1980    973673018
3      Mon Laferte     18/07/2008    982606150
4             Khea     16/06/2013    927484546

In [5]:
a["Inicio carrera"] = pd.to_datetime(a['Inicio carrera'], infer_datetime_format=True)

In [6]:
a.head()

  Nombre artistico Inicio carrera  Nº contacto
0             Duki     2019-02-14    947967523
1  Backstreet Boys     1994-01-23    933555053
2  Michael Jackson     1980-02-04    973673018
3      Mon Laferte     2008-07-18    982606150
4             Khea     2013-06-16    927484546

In [7]:
en.head(5)

           evento asiento        artista
0         Bangerz     D15    Miley Cyrus
1  I Aint Worried     A17   One Republic
2     Show Forest     A12  One Direction
3       Bang Bang     C30       Jessie J
4        DJ Snake     D12       DJ Snake

In [8]:
ev.head(5)

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de incio,Productora
0,BZRP Tour,Pabellon Max Schmeling,Paulo Londra,BERLIN,ALEMANIA,09/05/2020,Nachhaltige Events
1,Como si no importara,Arena Ludwingsburg,Emilia,LUDWINGSBURG,ALEMANIA,23-01-2021,fullevent.de
2,Born this way,Irving Plaza,Lady Gaga,NUEVA YORK,ESTADOS UNIDOS,12/09/2020,CSI DMC
3,El Duko2.0,Thunder Bay,Duki,ONTARIO,CANADA,29-07-2020,EventsEye
4,LOS APARATOS,Tarpeian Precinct Lawn,Trueno,SYDNEY,AUTRALIA,12/08/2018,YouTOOProject

In [9]:
print(datetime.now())

2022-10-27 22:43:22.504865

In [10]:
ev['Fecha de incio'] = pd.to_datetime(ev['Fecha de incio'], infer_datetime_format=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_10016\1248693467.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  ev['Fecha de incio'] = pd.to_datetime(ev['Fecha de incio'], infer_datetime_format=True)

ValueError: day is out of range for month present at position 120

In [11]:
ev = ev.drop(ev[ev['Fecha de incio']=="30/2/2021"].index)

In [12]:
ev['Fecha de incio'] = pd.to_datetime(ev['Fecha de incio'], infer_datetime_format=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_10016\1248693467.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  ev['Fecha de incio'] = pd.to_datetime(ev['Fecha de incio'], infer_datetime_format=True)

ValueError: day is out of range for month present at position 174

In [35]:
p.shape

(246, 3)

In [13]:
ev = ev.drop(ev[ev['Fecha de incio']=="30-2-2019"].index)

In [14]:
ev['Fecha de incio'] = pd.to_datetime(ev['Fecha de incio'], infer_datetime_format=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_10016\1248693467.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  ev['Fecha de incio'] = pd.to_datetime(ev['Fecha de incio'], infer_datetime_format=True)

In [15]:
ev = ev.rename(columns={"Fecha de incio":"Fecha de inicio"})

In [16]:
ev.head()

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de inicio,Productora
0,BZRP Tour,Pabellon Max Schmeling,Paulo Londra,BERLIN,ALEMANIA,2020-09-05,Nachhaltige Events
1,Como si no importara,Arena Ludwingsburg,Emilia,LUDWINGSBURG,ALEMANIA,2021-01-23,fullevent.de
2,Born this way,Irving Plaza,Lady Gaga,NUEVA YORK,ESTADOS UNIDOS,2020-12-09,CSI DMC
3,El Duko2.0,Thunder Bay,Duki,ONTARIO,CANADA,2020-07-29,EventsEye
4,LOS APARATOS,Tarpeian Precinct Lawn,Trueno,SYDNEY,AUTRALIA,2018-12-08,YouTOOProject

In [17]:
h.head(5)

,codigo reserva,artista,fecha inicio,fecha termino,lugar,nombre hotel,tipo traslado,aeropuerto salida,hora salida,aeropuerto llegada,hora llegada
0,DUE-45195,Paulo Londra,18/4/2019,23/4/2019,BILBAO,Hotel Ilunion,TERRESTRE,NaN,NaN,NaN,NaN
1,VJA-35509,Lali Esposito,16/4/2019,17/4/2019,AUCKLAND,Hilton Auckland,TERRESTRE,NaN,NaN,NaN,NaN
2,YOP-65177,Niall Horan,5/5/2020,9/5/2020,COLOGNE,StadHotel,AEREO,Aeropuerto Internacional de Bruselas,9:10,Aeropuerto Internacional de Cologne,12:47
3,NOA-92813,Bon Jovi,9/1/2018,12/1/2018,SANTIAGO,Almasur Hotel,AEREO,Aeropuerto Internacional de Miami,16:21,Aeropuerto Arturo Merino Benitez,12:16
4,OFF-75731,Bon Jovi,6/3/2022,10/3/2022,SYDNEY,Sydney Grand Hotel,AEREO,Aeropuerto Internacional de Ottawa,9:32,Aeropuerto de Sidney,18:12

In [18]:
h['fecha inicio'] = pd.to_datetime(h['fecha inicio'], infer_datetime_format=True)

In [19]:
h['fecha termino'] = pd.to_datetime(h['fecha termino'], infer_datetime_format=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_10016\203180969.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  h['fecha termino'] = pd.to_datetime(h['fecha termino'], infer_datetime_format=True)

ValueError: day is out of range for month present at position 58

In [20]:
h = h.drop(h[h['fecha termino']=="30/2/2020"].index)

In [21]:
h['fecha termino'] = pd.to_datetime(h['fecha termino'], infer_datetime_format=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_10016\203180969.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  h['fecha termino'] = pd.to_datetime(h['fecha termino'], infer_datetime_format=True)

ValueError: day is out of range for month present at position 104

In [22]:
h = h.drop(h[h['fecha termino']=="31/4/2021"].index)
h['fecha termino'] = pd.to_datetime(h['fecha termino'], infer_datetime_format=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_10016\3011689406.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  h['fecha termino'] = pd.to_datetime(h['fecha termino'], infer_datetime_format=True)

ValueError: day is out of range for month present at position 116

In [23]:
h = h.drop(h[h['fecha termino']=="30/2/2022"].index)
h['fecha termino'] = pd.to_datetime(h['fecha termino'], infer_datetime_format=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_10016\3459372924.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  h['fecha termino'] = pd.to_datetime(h['fecha termino'], infer_datetime_format=True)

ValueError: day is out of range for month present at position 125

In [24]:
h = h.drop(h[h['fecha termino']=="31/4/2020"].index)
h['fecha termino'] = pd.to_datetime(h['fecha termino'], infer_datetime_format=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_10016\2879899031.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  h['fecha termino'] = pd.to_datetime(h['fecha termino'], infer_datetime_format=True)

ValueError: day is out of range for month present at position 189

In [25]:
h = h.drop(h[h['fecha termino']=="31/2/2019"].index)
h['fecha termino'] = pd.to_datetime(h['fecha termino'], infer_datetime_format=True)

In [26]:
h.head(5)

,codigo reserva,artista,fecha inicio,fecha termino,lugar,nombre hotel,tipo traslado,aeropuerto salida,hora salida,aeropuerto llegada,hora llegada
0,DUE-45195,Paulo Londra,2019-04-18,2019-04-23,BILBAO,Hotel Ilunion,TERRESTRE,NaN,NaN,NaN,NaN
1,VJA-35509,Lali Esposito,2019-04-16,2019-04-17,AUCKLAND,Hilton Auckland,TERRESTRE,NaN,NaN,NaN,NaN
2,YOP-65177,Niall Horan,2020-05-05,2020-05-09,COLOGNE,StadHotel,AEREO,Aeropuerto Internacional de Bruselas,9:10,Aeropuerto Internacional de Cologne,12:47
3,NOA-92813,Bon Jovi,2018-01-09,2018-01-12,SANTIAGO,Almasur Hotel,AEREO,Aeropuerto Internacional de Miami,16:21,Aeropuerto Arturo Merino Benitez,12:16
4,OFF-75731,Bon Jovi,2022-03-06,2022-03-10,SYDNEY,Sydney Grand Hotel,AEREO,Aeropuerto Internacional de Ottawa,9:32,Aeropuerto de Sidney,18:12

In [27]:
p.head(5)

                                       Nombre   País  Nº contacto
0                            Ais producciones  CHILE  56987054160
1              Cucarro producciones limitada   CHILE  56935039844
2  C&m musicos - musica y asesorias musicales  CHILE  56982842595
3          Eventos comunidad ombligo limitada  CHILE  56938037004
4                               Alto la torre  CHILE  56911128539

In [28]:
t.head(5)

               nombre fecha inicio fecha termino
0      One Night Only   26/09/2017    08/10/2021
1            CARAVANA   29/07/2018    01/05/2019
2             S.U.N.O   16/06/2016    21/08/2018
3  Lively And Supreme   30/08/2018    09/11/2020
4      Bigger than me   28/07/2019    29/05/2021

In [29]:
t['fecha termino'] = pd.to_datetime(t['fecha termino'], infer_datetime_format=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_10016\3273015997.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  t['fecha termino'] = pd.to_datetime(t['fecha termino'], infer_datetime_format=True)

ValueError: day is out of range for month present at position 24

In [30]:
t = t.drop(t[t['fecha termino']=="30/2/2021"].index)
t['fecha termino'] = pd.to_datetime(t['fecha termino'], infer_datetime_format=True)

C:\Users\marti\AppData\Local\Temp\ipykernel_10016\2283907122.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  t['fecha termino'] = pd.to_datetime(t['fecha termino'], infer_datetime_format=True)

In [32]:
t['fecha inicio'] = pd.to_datetime(t['fecha inicio'], infer_datetime_format=True)

In [33]:
t.head(5)

               nombre fecha inicio fecha termino
0      One Night Only   2017-09-26    2021-08-10
1            CARAVANA   2018-07-29    2019-01-05
2             S.U.N.O   2016-06-16    2018-08-21
3  Lively And Supreme   2018-08-30    2020-09-11
4      Bigger than me   2019-07-28    2021-05-29

In [34]:
a.to_csv("datos_limpios/artistas.csv")
en.to_csv("datos_limpios/entradas_cortesia.csv")
ev.to_csv("datos_limpios/eventos.csv")
h.to_csv("datos_limpios/hospedajes_y_traslados.csv")
p.to_csv("datos_limpios/productoras.csv")
t.to_csv("datos_limpios/tours.csv")